body{
    display: grid;
    place-content: center;
}

.parent{
    background: rgb(196, 192, 192);
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child{
    width: 200px;
    height: 200px;
}

.child:nth-child(1){
    background: red;
}

.child:nth-child(2){
    background: green;
}

.child:nth-child(3){
    background: blue;
}

button{
    justify-self: center;
}